html {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(177, 175, 172);
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    width: 400px;
    height: 400px;
    justify-content: space-around;
}

.display {
    display: flex;
    flex: 1;
    flex-direction: column;
}

input {
    text-align: right;
    border: 0; 
}

.input-data {
    flex: 1;
    padding: 15px;
    font-size: large;
}
.previous-data {
    flex: 0;
    padding: 5px 15px;
}

.operators {
    display: flex;
    flex: 1;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.numbers button {
    padding: 30px 30px;
}
.send {
    display: flex;
    flex: 1;
}

button {
    flex: 1;
}